<link rel="stylesheet" href="/css/questions.css">
<link rel="stylesheet" href="/css/search.css">


<div class="container">
    <div class="row">
        <div class="s004">
            <form action="/questions/search" id="search-form" method="post">
                <fieldset>
                    <div class="inner-form">
                        <% if(locals.page_name=="questions" || locals.page_name=="search" ){ %>

                            <div class="input-field">
                                <input name="search" class="form-control searchinput" id="choices-text-preset-values"
                                    type="search" placeholder="Type to search..." />
                                <button class="btn-search" type="submit">
                                    <i class="fas fa-search"></i>

                                </button>
                            </div>
                            <%}%>
                    </div>




                    <div class="suggestion-wrap">
                        <% if(locals.page_name!=="questions" ){%>
                            <span class="glassy transbtn2 text_primary_special">
                                <a id="addquestionbtn" class="text-secondary text-decoration-none"
                                    href="/questions/view">
                                    <i class="fas fa-chevron-circle-left"></i> Back
                                </a>

                            </span>
                            <%}%>
                                <% if(locals.page_name=="questions" || locals.page_name=="filter" ){ %>
                                    <span class="glassy transbtn2">
                                        <a id="addquestionbtn" class=" text-primary text-decoration-none"
                                            href="/questions/status?s=solved">
                                            Solved
                                        </a>
                                    </span>
                                    <span class="glassy transbtn2">

                                        <a id="addquestionbtn" class="text-primary text-decoration-none"
                                            href="/questions/status?s=unsolved">
                                            UnSolved
                                        </a>

                                    </span>
                                    <span class="glassy transbtn2">

                                        <a id="addquestionbtn" class="text-primary text-decoration-none"
                                            href="/questions/status?s=retry">
                                            Retry
                                        </a>
                                    </span>
                                    <%}%>

                    </div>


                </fieldset>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card card-margin vh-50">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">
                                <div class="result-header">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div class="records">Showing question: <b>1- <%=questions.length%></b> of
                                                <b>
                                                    <%=questions.length%>
                                                </b> result
                                            </div>
                                        </div>
                                        <div class="col-lg-3 d-flex justify-content-end">
                                            <a id="addquestionbtn"
                                                class="btn btn-default text-primary text-decoration-none transbtn"
                                                href="/questions/add">
                                                <i class="fas fa-plus-circle"></i> Add Question
                                            </a>
                                            <a id="pickrandom"
                                                class="btn btn-default text-primary text-decoration-none transbtn"
                                                href="/questions/todo?q=randompick">
                                                <i class="fas fa-random"></i> Pick Random
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>








                            <div class="result-body">
                                <div class="table-responsive">
                                    <table class="table widget-26">
                                        <thead>
                                            <tr>
                                                <th>Question Name</th>
                                                <th>Related Topic</th>
                                                <th>Last Solve</th>
                                                <th>Revision Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for(ques of questions){ %>

                                                <tr>
                                                    <td>
                                                        <div class="widget-26-job-title">
                                                            <a href="<%= ques.link %> " target="_blank">
                                                                <%= ques.name %>
                                                            </a>


                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-info">
                                                            <p class="type m-0">
                                                                <%= ques.topic || "---" %>
                                                            </p>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-salary">
                                                            <small class="bg-c-green p-1 rounded fw-bold">
                                                                <i class="far fa-clock"></i>
                                                                <%= ques.lastsolved ? moment(ques.lastsolved).fromNow()
                                                                    : '----' %>
                                                            </small>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-salary">
                                                            <p class=""><i class="fa fa-clock-o"></i>
                                                                <%= moment(ques.deadline).format("DD/MM/YYYY") %>
                                                            </p>
                                                        </div>
                                                    </td>








                                                    <td>
                                                        <div class="widget-26-job-category  <%- ques.status=='UNSOLVED' ? 'unsolved' :
                                                                ques.status=='SOLVED' ? 'solved' : 'retry'
                                                                %>">
                                                            <i class="indicator 
                                                                <%- ques.status=='UNSOLVED' ? 'bg-primary' :
                                                                ques.status=='SOLVED' ? 'bg-success' : 'bg-danger'
                                                                %>">
                                                            </i>
                                                            <span>
                                                                <%= ques.status || "---" %>
                                                            </span>
                                                        </div>
                                                    </td>


                                                    <td>
                                                        <div class="widget-26-job-action">
                                                            <!-- <a class="star" href="#">
                                                                <i class="far fa-star"></i>
                                                            </a> -->

                                                            <a href="/questions/update/<%= ques.id %>"><i
                                                                    class="fa fa-edit"></i></a>
                                                            <a href="/questions/delete/<%= ques.id %>"><i
                                                                    class="far fa-trash-alt"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>


                                                <% } %>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <nav class="d-flex justify-content-center">
                    <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                        <li class="page-item">
                            <a class="page-link no-border" href="#">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
                        <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
                        <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
                        <li class="page-item"><a class="page-link no-border" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link no-border" href="#">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav> -->
            </div>
        </div>
    </div>
</div>
</div>