<h2>Questions List</h3>

<div id="questions_list">
    <ul>
        <% for(ques of questions){ %>
            <li>
                <h4><a href="<%= ques.link %> " target="_blank"><%= ques.name %> </a></h4>
                <h4>Status: </h4> <%= ques.category %>
                <h4>Deadline: </h4> <%= ques.deadline %>
                <h4>Description: </h4> <%= ques.description %>  
            </li>
        <% } %> 
    </ul>
</div>
