<link rel="stylesheet" href="/css/style.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-0">
    <div class="container">
        <a class="navbar-brand" href="/">

            <img src="/img/logo2.gif" class="companylogo" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hamburgericon"
            aria-controls="hamburgericon" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"> -->
        <div class="collapse navbar-collapse" id="hamburgericon">
            <ul class="navbar-nav nav-pills ml-auto">
                <% if(locals.user){ %>

                    <li class="nav-item <%= locals.page_name === 'profile' && 'active'%>"><a class="nav-link"
                            href="/">Profile</a></li>
                    <li class="nav-item <%= locals.page_name === 'todo' && 'active'%>"><a class="nav-link"
                            href="/questions/todo">Todo</a></li>
                    <li class="nav-item <%= locals.page_name == 'add_ques' && 'active'%>"><a class="nav-link"
                            href="/questions/add">Add Questions</a></li>
                    <li class="nav-item <%= locals.page_name == 'questions' && 'active'%>"><a class="nav-link"
                            href="/questions/view">Questions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/sign-out">SignOut</a></li>


                    <% }else{ %>
                        <li class="nav-item <%= locals.page_name == 'signin' && 'active'%>"><a class="nav-link"
                                href="/users/signin">Signin</a></li>
                        <li class="nav-item <%= locals.page_name == 'signup' && 'active'%>"><a class="nav-link"
                                href="/users/signup">Signup</a></li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>