<h1>User Profile!!</h1>

<% if(user.id == profile_user.id){ %> 
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" method="post">
        <h2><%= profile_user.username %></h2>
        <p><%= profile_user.email %> </p>
        <p><%= profile_user.education %></p>
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.username %>" required>
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>
<% }else{ %>
    <p><%= profile_user.username %></p>
    <p><%= profile_user.email %> </p>
    <p><%= profile_user.education %></p>
<% } %> 