<link rel="stylesheet" href="/css/profile.css">
<div class="container section ">
    <div class="row about-top bg-c-yellow shd">
        <div class="col-lg-3">
            <div class="about-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="about-text go-to">
                <h3 class="dark-color">
                    <%= profile_user.username %>
                </h3>
                <h6 class="theme-color lead">
                    <%= profile_user.education %>
                </h6>
                <p>I design and develop services for customers of all sizes, specializing in
                    creating stylish, modern websites, web services and online stores. My passion is to design
                    digital user experiences through the bold interface and meaningful interactions.</p>

            </div>
        </div>

    </div>
    <div class="counter bg-c-green shd">

        <div class="data-box">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="500" data-speed="500">
                    <p>
                        <%=profile_user.questions.length%>
                    </p>
                </h6>
                <p class="m-0px font-w-600">TotalQuestion</p>
            </div>
        </div>
        <div class="data-box">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="150" data-speed="150">
                    <%=profile_user.solved.length%>
                </h6>
                <p class="m-0px font-w-600">
                    Solved
                </p>
            </div>
        </div>
        <div class="data-box">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="850" data-speed="850">
                    <%=profile_user.unsolved.length%>
                </h6>
                <p class="m-0px font-w-600">
                    unSolved
                </p>
            </div>
        </div>
        <div class="data-box">
            <div class="count-data text-center">
                <h6 class="count h2" data-to="190" data-speed="190">
                    <%=profile_user.retry.length%>
                </h6>
                <p class="m-0px font-w-600">
                    Redo
                </p>
            </div>
        </div>

    </div>
</div>
<!-- </section> -->