<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/profileForm.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



<div class="container emp-profile section about-section card text-black" style="border-radius: 25px;">
    <!-- <form method="post"> -->
    <div class="row card-body p-md-5">
        <div class="col-lg-4 col-sm-12">
            <div class="profile-img">
                <img src="<%- profile_user.profile?.img?.filepath    || '/img/unknown_user.png' %>" alt="" class=""
                    srcset="
                <%= profile_user.profile?.img?.filepath || '/img/unknown_user.png' %> 1.5x,
                <%= profile_user.profile?.img?.filepath || '/img/unknown_user.png' %> 2x,                
              " />
                <!-- <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div> -->
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="profile-head">
                <h5 class="d-flex align-items-center">
                    <span>
                        <%= profile_user.username %>
                    </span>

                    <button style="color: #3931af;" role="button" class="btn btn-link btn-floating transparentbtn"
                        id="EditProfile" class="edit btn-floating btn-blue-grey" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                        name="btnAddMore" value="Edit Profile">
                        <i class="fas fa-edit"> </i>
                    </button>
                </h5>
                <h6>
                    <%= profile_user.profile.education %>
                </h6>
                <p class="proile-rating">
                    <%if(profile_user.profile?.website){%>
                        <div class="link-light">
                            <a target="_blank" href=" <%=profile_user.profile.website%>"> <i
                                    class="fas fa-external-link-alt"></i>
                                <%=profile_user.profile.website%>
                            </a>
                        </div>
                        <%}%>
                </p>
                <hr />
                <%if(profile_user._id=='61ebb6594590e3df4eece8f2' ){%>
                    <p style="white-space: pre-line;">
                        <%- profile_user.profile.bio%>
                    </p>
                    <%}else if(profile_user.profile.bio){%>
                        <p>
                            <%- profile_user.profile.bio%>
                        </p>
                        <%}else{%>
                            <p class="text-muted">
                                Complete Your Profile By Clicking Edit Button </p>
                            <%}%>
            </div>
        </div>
    </div>
    <div class="row card-body p-md-5">
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <a type="button" href="/questions/view" class="card text-decoration-none text-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                            <i class="fas fa-list-ol text-info fa-3x"></i>
                        </div>
                        <div class="text-end">
                            <h3>
                                <%=profile_user.questions.length%>
                            </h3>
                            <p class="mb-0">Total Question </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <a type="button" href="/questions/status?s=solved" class="card text-decoration-none text-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                            <i class="fas fa-chart-line text-success fa-3x"></i>
                        </div>
                        <div class="text-end">
                            <h3>
                                <%=profile_user.solved.length%>
                            </h3>
                            <p class="mb-0">Solved</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <a type="button" href="/questions/status?s=unsolved" class="card text-decoration-none text-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                            <i class="fas fa-cogs text-warning fa-3x"></i>
                        </div>
                        <div class="text-end">
                            <h3>
                                <%=profile_user.unsolved.length%>
                            </h3>
                            <p class="mb-0">UnSolved</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <a type="button" href="/questions/status?s=retry" class="card text-decoration-none text-dark">
                <div class="card-body">
                    <div class="d-flex justify-content-between px-md-1">
                        <div class="align-self-center">
                            <i class="fas fa-sync-alt text-danger fa-3x"></i>
                        </div>
                        <div class="text-end">
                            <h3>
                                <%=profile_user.retry.length%>
                            </h3>
                            <p class="mb-0">Redo</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Update Profle</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/users/update" id="update_form" method="post" enctype="multipart/form-data">
                <div class=" registration-form">
                    <div class="form-icon">
                        <span><i class="far fa-user"></i></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control item" id="username" name="username"
                            placeholder="Username" value="<%= profile_user.username %>" readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Education</label>
                        <input type="text" class="form-control item" id="Education" name="education"
                            value="<%= profile_user.profile.education %> " placeholder="Education">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Website</label>
                        <input type="url" class="form-control item" id="website" name="website"
                            value="<%= profile_user.profile.website %> " placeholder="url">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Bio</label>
                        <textarea class="form-control item" id="bio" name="bio" placeholder="Describe yourself here..."
                            <%- profile_user._id=='61ebb6594590e3df4eece8f2' ?'readonly':'' %>
                    ><%= profile_user.profile.bio%></textarea>
                    </div>
                    <div class="form-group" id="upload">
                        <!-- <input type="file" class="form-control item" name="image" id="upload-Images" single> -->
                        <label class="form-label">Upload Profile Photo</label>
                        <input name="image" type="file" class="form-control" id="customFile">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block create-account">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/userprofile.js"></script>